@import url('https://fonts.googleapis.com/css?family=Mukta+Vaani:300,400&display=swap');

main {
  font-family: 'Mukta Vaani', sans-serif;
  position: relative;
  min-width: 1200px;
  width: 90%;
  height: 90%;
  margin: 5% 5%;
}

.header-wrap {
  margin-top: -54px;
}

.content {
  margin: 0% 8%;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  left: 60vw;
  top: 30px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid black;
  opacity: 40%;
  z-index: 75;
}

.addrandomcircle {
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 75;
}

.triangle2 {
  position: absolute;
  width: 0;
  height: 0;
  left: -5vw;
  top: 50px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid black;
  opacity: 40%;
  z-index: 75;
}

.circlestatic {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 1vw;
  top: 40vw;
  border-radius: 100%;
  background-color: black;
  opacity: 40%;
  z-index: 75;
}

.cubestatic {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 50vw;
  top: 28vw;
  background-color: black;
  opacity: 40%;
  z-index: 75;
}

.miniplanet {
  position: absolute;
  width: 30px;
  height: 20px;
  left: 900px;
  top: 100px;
  border: 2px solid black;
  transition: 100ms;
  z-index: 75;
}

.miniplanet:before {
  content: '';
  position: absolute;
  display: block;
  top: -100px;
  left: -100px;
  right: -100px;
  bottom: -50px;
}

.krushochek {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 900px;
  top: 600px;
  transition: 100ms;
  border-radius: 100%;
  border: 2px solid black;
  z-index: 75;
  cursor: pointer;
}

.krushochek2 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 910px;
  top: 618px;
  border-radius: 100%;
  transition: 100ms;
  border: 2px solid black;
  z-index: 75;
  cursor: pointer;
}

.krushochek3 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 870px;
  top: 630px;
  border-radius: 100%;
  transition: 100ms;
  background-color: black;
  z-index: 75;
  cursor: pointer;
}

.plakat {
  position: relative;
  width: 800px;
  height: 900px;
}

div.plakat::after {
  content: "";
  background: url("../img/fon.png");
  background-repeat: no-repeat;
  background-position: 0 -150px;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.theway {
  display: none;
}

.planet {
  position: absolute;
  top: 220px;
  width: 320px;
  left: 324px;
  z-index: 75;
  cursor: pointer;
}

.moon {
  position: absolute;
  top: 150px;
  width: 40px;
  left: 100px;
  transition: 100ms;
  z-index: 74;
}

.krivaya {
  position: absolute;
  top: 480px;
  width: 60px;
  left: 240px;
  transition: 100ms;
  z-index: 74;
}

.sputnuk {
  position: absolute;
  top: 200px;
  width: 50px;
  right: -20px;
  z-index: 74;
}

.sputnuk:before {
  content: '';
  position: absolute;
  display: block;
  top: -40px;
  left: -40px;
  right: -40px;
  bottom: -40px;
}

.kletka {
  position: absolute;
  top: 230px;
  width: 160px;
  left: 130px;
  transition: 100ms;
  opacity: 40%;
  z-index: 79;
}

.star1 {
  position: absolute;
  top: 126px;
  left: 400px;
  width: 85px;
  transition: 100ms;
  height: 59px;
}

.ministar {
  position: absolute;
  top: 490px;
  width: 50px;
  left: 78px;
  transition: 100ms;
  z-index: 78;
}

.ministar:before {
  content: '';
  position: absolute;
  display: block;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
}

.ministar2 {
  position: absolute;
  top: 150px;
  width: 40px;
  right: 130px;
  transition: 100ms;
  z-index: 78;
}

.ministar2:before {
  content: '';
  position: absolute;
  display: block;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
}

.ministar3 {
  position: absolute;
  top: 400px;
  width: 50px;
  right: 50px;
  transition: 100ms;
  z-index: 78;
}

.ministar3:before {
  content: '';
  position: absolute;
  display: block;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
}

.krugst {
  position: absolute;
  top: 600px;
  width: 110px;
  left: 200px;
  opacity: 50%;
  transition: 100ms;
  z-index: 78;
  cursor: pointer;
}

.sferast {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 100%;
  top: 650px;
  left: 240px;
  transition: 100ms;
  z-index: 79;
  cursor: pointer;
}

.linesst {
  position: absolute;
  top: 520px;
  width: 150px;
  left: 280px;
  transition: 100ms;
  z-index: 79;
  cursor: pointer;
}

.curve {
  position: absolute;
  top: 450px;
  width: 100px;
  left: 100px;
  z-index: 79;
}

.cube {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  bottom: 267px;
  right: 210px;
  transition: 100ms;
  z-index: 97;
}

.cube:before {
  content: '';
  position: absolute;
  display: block;
  top: -50px;
  left: -10px;
  right: -50px;
  bottom: -50px;
}

.cube2 {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  bottom: 370px;
  right: 300px;
  transition: 100ms;
  z-index: 96;
}

.cube2:before {
  content: '';
  position: absolute;
  display: block;
  top: -40px;
  left: -40px;
  right: -20px;
  bottom: -40px;
}

#lineleft {
  position: absolute;
  width: 60px;
  border: 0.5px solid black;
  transform: rotate(30deg);
  top: 18px;
  left: 20px;
  transition: 100ms;
  z-index: 95;
}

#lineright {
  position: absolute;
  width: 70px;
  border: 0.5px solid black;
  transform: rotate(-50deg);
  top: 18px;
  transition: 100ms;
  z-index: 94;
}

#circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: black;
  top: 30px;
  left: 40px;
  transition: 100ms;
  z-index: 93;
}

.star2 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 80px;
  left: 300px;
  transition: 100ms;
}

#aura3 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid black;
  top: 0;
  left: 0;
  transition: 100ms;
  z-index: 92;
  cursor: pointer;
}

#aura2 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid black;
  top: 10px;
  left: 10px;
  transition: 100ms;
  z-index: 91;
  cursor: pointer;
}

#aura1 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid black;
  top: 20px;
  left: 20px;
  transition: 100ms;
  z-index: 89;
  cursor: pointer;
}

.zvezda {
  position: absolute;
  display: none;
  z-index: 88;
}

.krug1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: black;
  bottom: 130px;
  left: 700px;
  z-index: 88;
}

.krug2 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid black;
  top: 50px;
  left: 600px;
  z-index: 87;
}

.krug2:before {
  content: '';
  position: absolute;
  display: block;
  top: -30px;
  left: -50px;
  right: -50px;
  bottom: -30px;
}

.curvedashed-wrap {
  width: 120px;
  height: 120px;
  top: 220px;
  left: 470px;
  position: absolute;
  z-index: 86;
}

#curvedashed {
  position: absolute;
  width: 120px;
  border: 1px dashed black;
  transform: rotate(-35deg);
  top: 120px;
  left: 100px;
  transition: 100ms;
  z-index: 86;
}

#curvedashed:before {
  content: '';
  position: absolute;
  display: block;
  top: -40px;
  left: -40px;
  right: -40px;
  bottom: -40px;
}

.littlecube {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  top: 275px;
  left: 220px;
  transition: 100ms;
  z-index: 85;
}

.littlecube:before {
  content: '';
  position: absolute;
  display: block;
  top: -35px;
  left: -35px;
  right: -35px;
  bottom: -35px;
}

.fon {
  position: absolute;
  opacity: 8%;
  z-index: 80;
}

.podzagolovok {
  color: black;
  font-size: 2vw;
}

.zagolovok {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 6vw;
  line-height: 5vw;
}

.cost {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 1.7vw;
}

.info {
  color: black;
  font-size: 1.3vw;
  width: 26vw;
}

#cost {
  display: inline-block;
  min-width: 100px;
}

.description {
  position: absolute;
  -ms-transform: translateY(-50%);
  top: 50%;
  left: 70%;
  transform: translateY(-50%);
  line-height: 2vw;
  text-align: center;
}

@media (max-width: 1024px) {

  main {
    position: relative;
    max-width: 1024px;
    height: 1050px;
    margin: 8% 5%;
  }

  .header-wrap {
    margin-top: -44px;
  }

  .content {
    margin: 8% 11%;
  }

  .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid black;
  }

  .triangle2 {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid black;
  }

  .circlestatic {
    width: 10px;
    height: 10px;
    top: 80vw;
  }

  .cubestatic {
    width: 10px;
    height: 10px;
    top: 35vw;
    left: 82vw;
  }

  .miniplanet {
    width: 60px;
    height: 40px;
    left: 810px;
    top: 100px;
  }

  .krushochek {
    width: 100px;
    height: 100px;
    left: 780px;
    top: 550px;
  }

  .krushochek2 {
    width: 40px;
    height: 40px;
    left: 800px;
    top: 570px;
  }

  .krushochek3 {
    width: 25px;
    height: 25px;
    left: 750px;
    top: 580px;
  }

  .plakat {
    width: 800px;
    height: 900px;
  }

  div.plakat::after {
    background-position: -40px -100px;
  }

  .planet {
    top: 250px;
    width: 340px;
    left: 250px;
  }

  .moon {
    top: 120px;
    width: 70px;
    left: 60px;
  }

  .krivaya {
    top: 500px;
    width: 100px;
    left: 190px;
  }

  .sputnuk {
    top: 200px;
    width: 100px;
    right: -20px;
  }

  .kletka {
    top: 250px;
    width: 190px;
    left: 20px;
    opacity: 40%;
  }

  .star1 {
    top: 126px;
    left: 400px;
    width: 85px;
    height: 59px;
  }

  .ministar {
    top: 630px;
    width: 100px;
    left: 0;
  }

  .ministar2 {
    top: 120px;
    width: 80px;
    right: 100px;
  }

  .ministar3 {
    top: 380px;
    width: 110px;
    right: 40px;
  }

  .krugst {
    top: 780px;
    width: 140px;
    left: 150px;
    opacity: 50%;
  }

  .sferast {
    top: 840px;
    left: 200px;
  }

  .linesst {
    top: 715px;
    width: 180px;
    left: 230px;
  }

  .curve {
    top: 590px;
    width: 150px;
    left: 50px;
  }

  .cube {
    width: 55px;
    height: 55px;
    border: 2px solid black;
    bottom: 190px;
    right: 200px;
  }

  .cube2 {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    bottom: 320px;
    right: 300px;
  }

  #lineleft {
    width: 80px;
    border: 1px solid black;
    transform: rotate(30deg);
    top: 17px;
    left: 40px;
  }

  #lineright {
    width: 90px;
    border: 1px solid black;
    transform: rotate(-50deg);
    top: 17px;
  }

  #circle {
    width: 20px;
    height: 20px;
    top: 30px;
    left: 53px;
  }

  .star2 {
    width: 80px;
    height: 80px;
    top: 80px;
    left: 300px;
  }

  #aura3 {
    width: 80px;
    height: 80px;
    top: 0;
    left: -50px;
  }

  #aura2 {
    width: 50px;
    height: 50px;
    top: 15px;
    left: -34px;
  }

  #aura1 {
    width: 20px;
    height: 20px;
    top: 30px;
    left: -19px;
  }

  .krug1 {
    width: 40px;
    height: 40px;
    bottom: 70px;
    left: 710px;
  }

  .krug2 {
    width: 30px;
    height: 30px;
    top: 5px;
    left: 690px;
  }

  .curvedashed-wrap {
    width: 120px;
    height: 120px;
    top: 220px;
    left: 470px;
  }

  #curvedashed {
    width: 140px;
    border: 2px dashed black;
    transform: rotate(-35deg);
    top: 120px;
    left: 30px;
  }

  .littlecube {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    top: 300px;
    left: 130px;
  }

  .podzagolovok {
    font-size: 4vw;
    margin-left: 1vw;
  }

  .zagolovok {
    font-size: 15vw;
    line-height: 10vw;
  }

  .cost {
    font-size: 4vw;
    line-height: 5vw;
  }

  .info {
    padding-top: 1200px;
    font-size: 2.7vw;
    width: 50vw;
  }

  #cost {
    display: inline-block;
  }

  .description {
    -ms-transform: translateX(-50%);
    left: 47%;
    top: 15%;
    transform: translateX(-50%);
    line-height: 3.5vw;
  }

}

@media (max-width: 375px) {

  main {
    width: 770px;
    height: 1250px;
    margin: 20% 15%;
  }

  .content {
    margin: 11% 5%;
  }

  .cubestatic {
    top: 50vw;
    left: 210vw;
  }

  .circlestatic {
    top: 170vw;
    left: 20vw;
  }

  .header-wrap {
    margin-top: -40px;
  }

  .miniplanet {
    width: 60px;
    height: 40px;
    left: 700px;
    top: 0px;
  }

  .krushochek {
    width: 100px;
    height: 100px;
    left: 700px;
    top: 580px;
  }

  .krushochek2 {
    width: 30px;
    height: 30px;
    left: 720px;
    top: 600px;
  }

  .krushochek3 {
    width: 20px;
    height: 20px;
    left: 660px;
    top: 630px;
  }

  .plakat {
    width: 800px;
    height: 900px;
  }

  div.plakat::after {
  }

  .planet {
    top: 250px;
    width: 370px;
    left: 290px;
  }

  .moon {
    top: 110px;
    width: 90px;
    left: 80px;
  }

  .krivaya {
    top: 570px;
    width: 160px;
    left: 190px;
  }

  .sputnuk {
    top: 200px;
    width: 120px;
    right: 50px;
  }

  .kletka {
    top: 270px;
    width: 210px;
    left: 60px;
  }

  .star1 {
    top: 126px;
    left: 400px;
    width: 100px;
    height: 59px;
  }

  .ministar {
    top: 760px;
    left: 50px;
    width: 130px;
  }

  .ministar2 {
    top: 90px;
    width: 100px;
    right: 100px;
  }

  .ministar3 {
    top: 400px;
    width: 110px;
    right: -30px;
  }

  .krugst {
    top: 930px;
    width: 170px;
    left: 130px;
    opacity: 50%;
  }

  .sferast {
    top: 1010px;
    left: 190px;
  }

  .linesst {
    top: 850px;
    width: 210px;
    left: 240px;
  }

  .curve {
    top: 740px;
    width: 150px;
    left: 110px;
  }

  .cube {
    width: 65px;
    height: 65px;
    border: 2px solid black;
    bottom: 40px;
    right: 200px;
  }

  .cube2 {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    bottom: 200px;
    right: 310px;
  }

  #lineleft {
    width: 90px;
    border: 1px solid black;
    transform: rotate(30deg);
    top: -10px;
    left: 40px;
  }

  #lineright {
    width: 100px;
    border: 1px solid black;
    transform: rotate(-50deg);
    top: -10px;
  }

  #circle {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    top: 3px;
    left: 53px;
  }

  .star2 {
    width: 100px;
    height: 80px;
    top: 80px;
    left: 300px;
  }

  #aura3 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    top: -140px;
    left: -40px;
  }

  #aura2 {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    top: -125px;
    left: -24px;
  }

  #aura1 {
    width: 35px;
    height: 35px;
    border: 1px solid black;
    top: -107px;
    left: -7px;
  }

  .krug1 {
    width: 50px;
    height: 50px;
    top: 920px;
    left: 700px;
  }

  .krug2 {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    top: -140px;
    left: 610px;
  }

  .curvedashed-wrap {
    width: 140px;
    height: 140px;
    top: 250px;
    left: 500px;
  }

  #curvedashed {
    width: 160px;
    border: 2px dashed black;
    transform: rotate(-35deg);
    top: 150px;
    left: 40px;
  }

  .littlecube {
    width: 40px;
    height: 40px;
    top: 310px;
    left: 180px;
  }

  .podzagolovok {
    color: black;
    font-size: 40px;
    padding-left: 30px;
    line-height: 85px;
  }

  .zagolovok {
    font-size: 50vw;
    line-height: 35vw;
  }

  .cost {
    font-size: 13vw;
    line-height: 13vw;
  }

  .info {
    padding-top: 1200px;
    font-size: 8vw;
    width: 600px;
  }

  #cost {
    display: inline-block;
    min-width: 100px;
  }

  .description {
    top: 37%;
    left: 40%;
    line-height: 13vw;
  }

}
