@import url('https://fonts.googleapis.com/css?family=Mukta+Vaani:300,400&display=swap');

main {
  font-family: 'Mukta Vaani', sans-serif;
  position: relative;
  max-width: 1300px;
  margin: 8% auto;
}

.header-wrap {
  margin-top: -54px;
}

.plakat {
  position: relative;
  width: 800px;
  height: 900px;
}

div.plakat::after {
  content: "";
  background: url("../img/fon.png");
  background-repeat: no-repeat;
  background-position: 0 -100px;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.theway {
  display: none;
}

.planet {
  position: absolute;
  top: 220px;
  width: 320px;
  left: 324px;
  z-index: 75;
  cursor: pointer;
}

.moon {
  position: absolute;
  top: 150px;
  width: 40px;
  left: 130px;
  z-index: 74;
  cursor: pointer;
}

.krivaya {
  position: absolute;
  top: 500px;
  width: 60px;
  left: 230px;
  z-index: 74;
  cursor: pointer;
}

.sputnuk {
  position: absolute;
  top: 200px;
  width: 50px;
  right: -20px;
  z-index: 74;
  cursor: pointer;
}

.kletka {
  position: absolute;
  top: 230px;
  width: 160px;
  left: 130px;
  opacity: 40%;
  z-index: 79;
  cursor: pointer;
}

.star1 {
  position: absolute;
  top: 126px;
  left: 400px;
  width: 85px;
  height: 59px;
  cursor: pointer;
}

.ministar {
  position: absolute;
  top: 490px;
  width: 50px;
  left: 78px;
  z-index: 78;
  cursor: pointer;
}

.ministar:before {
  content: '';
  position: absolute;
  display: block;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
}

.ministar2 {
  position: absolute;
  top: 150px;
  width: 40px;
  right: 130px;
  z-index: 78;
  cursor: pointer;
}

.ministar2:before {
  content: '';
  position: absolute;
  display: block;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
}

.ministar3 {
  position: absolute;
  top: 400px;
  width: 50px;
  right: 50px;
  z-index: 78;
  cursor: pointer;
}

.ministar3:before {
  content: '';
  position: absolute;
  display: block;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
}

.krugst {
  position: absolute;
  top: 600px;
  width: 110px;
  left: 200px;
  opacity: 50%;
  z-index: 78;
  cursor: pointer;
}

.sferast {
  position: absolute;
  top: 650px;
  width: 30px;
  left: 240px;
  z-index: 79;
  cursor: pointer;
}

.linesst {
  position: absolute;
  top: 520px;
  width: 150px;
  left: 280px;
  z-index: 79;
  cursor: pointer;
}

.curve {
  position: absolute;
  top: 450px;
  width: 100px;
  left: 100px;
  z-index: 79;
  cursor: pointer;
}

.cube {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  bottom: 267px;
  right: 210px;
  z-index: 97;
  cursor: pointer;
}

.cube:before {
  content: '';
  position: absolute;
  display: block;
  top: -50px;
  left: -10px;
  right: -50px;
  bottom: -50px;
}

.cube2 {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  bottom: 370px;
  right: 300px;
  z-index: 96;
  cursor: pointer;
}

.cube2:before {
  content: '';
  position: absolute;
  display: block;
  top: -40px;
  left: -40px;
  right: -20px;
  bottom: -40px;
}

#lineleft {
  position: absolute;
  width: 60px;
  border: 0.5px solid black;
  transform: rotate(30deg);
  top: 18px;
  left: 20px;
  z-index: 95;
  cursor: pointer;
}

#lineright {
  position: absolute;
  width: 70px;
  border: 0.5px solid black;
  transform: rotate(-50deg);
  top: 27px;
  z-index: 94;
  cursor: pointer;
}

#circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: black;
  top: 30px;
  left: 46px;
  z-index: 93;
  cursor: pointer;
}

.star2 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 80px;
  left: 300px;
  cursor: pointer;
}

#aura3 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid black;
  top: 0;
  left: 0;
  z-index: 92;
}

#aura2 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid black;
  top: 10px;
  left: 10px;
  z-index: 91;
}

#aura1 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 1px solid black;
  top: 20px;
  left: 20px;
  z-index: 89;
}

.zvezda {
  position: absolute;
  display: none;
  z-index: 88;
}

.krug1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: black;
  bottom: 130px;
  left: 700px;
  z-index: 88;
}

.krug2 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: 1px solid black;
  top: 50px;
  left: 600px;
  z-index: 87;
}

.krug2:before {
  content: '';
  position: absolute;
  display: block;
  top: -30px;
  left: -50px;
  right: -50px;
  bottom: -30px;
}

.curvedashed-wrap {
  width: 120px;
  height: 120px;
  top: 220px;
  left: 470px;
  position: absolute;
  cursor: pointer;
  z-index: 86;
}

#curvedashed {
  position: absolute;
  width: 120px;
  border: 1px dashed black;
  transform: rotate(-35deg);
  top: 120px;
  left: 100px;
  z-index: 86;
}

#curvedashed:before {
  content: '';
  position: absolute;
  display: block;
  top: -40px;
  left: -40px;
  right: -40px;
  bottom: -40px;
}

.littlecube {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  top: 275px;
  left: 220px;
  z-index: 85;
}

.littlecube:before {
  content: '';
  position: absolute;
  display: block;
  top: -35px;
  left: -35px;
  right: -35px;
  bottom: -35px;
}

.fon {
  position: absolute;
  opacity: 8%;
  z-index: 80;
}

.podzagolovok {
  color: black;
  font-size: 35px;
  line-height: 0;
  padding-left: 150px;
}

.zagolovok {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 125px;
  line-height: 90px;
}

.cost {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 30px;
}

.info {
  color: black;
  font-size: 25px;
}

#cost {
  display: inline-block;
  min-width: 100px;
}

.description {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 150px;
}

@media (max-width: 1024px) {

  main {
    position: relative;
    max-width: 1024px;
    height: 1050px;
    margin: 10% 5%;
  }

  .header-wrap {
    margin-top: -44px;
  }

  .plakat {
    width: 800px;
    height: 900px;
  }

  div.plakat::after {
    background-position: 0 -100px;
  }

  .planet {
    top: 250px;
    width: 340px;
    left: 324px;
  }

  .moon {
    top: 120px;
    width: 60px;
    left: 100px;
  }

  .krivaya {
    top: 500px;
    width: 100px;
    left: 230px;
  }

  .sputnuk {
    top: 200px;
    width: 100px;
    right: -20px;
  }

  .kletka {
    top: 240px;
    width: 190px;
    left: 100px;
    opacity: 40%;
  }

  .star1 {
    top: 126px;
    left: 400px;
    width: 85px;
    height: 59px;
  }

  .ministar {
    top: 630px;
    width: 100px;
    left: 57px;
  }

  .ministar2 {
    top: 120px;
    width: 80px;
    right: 100px;
  }

  .ministar3 {
    top: 450px;
    width: 110px;
    right: -50px;
  }

  .krugst {
    top: 780px;
    width: 140px;
    left: 150px;
    opacity: 50%;
  }

  .sferast {
    top: 840px;
    width: 40px;
    left: 200px;
  }

  .linesst {
    top: 715px;
    width: 180px;
    left: 230px;
  }

  .curve {
    top: 590px;
    width: 150px;
    left: 100px;
  }

  .cube {
    width: 55px;
    height: 55px;
    border: 2px solid black;
    bottom: 190px;
    right: 200px;
  }

  .cube2 {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    bottom: 320px;
    right: 300px;
  }

  #lineleft {
    width: 80px;
    border: 1px solid black;
    transform: rotate(30deg);
    top: 17px;
    left: 40px;
  }

  #lineright {
    width: 90px;
    border: 1px solid black;
    transform: rotate(-50deg);
    top: 17px;
  }

  #circle {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: black;
    top: 30px;
    left: 53px;
  }

  .star2 {
    width: 80px;
    height: 80px;
    top: 80px;
    left: 300px;
  }

  #aura3 {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border: 1px solid black;
    top: 0;
    left: -50px;
  }

  #aura2 {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid black;
    top: 15px;
    left: -34px;
  }

  #aura1 {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid black;
    top: 30px;
    left: -19px;
  }

  .krug1 {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    bottom: 70px;
    left: 710px;
  }

  .krug2 {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    border: 1px solid black;
    top: 50px;
    left: 600px;
  }

  .curvedashed-wrap {
    width: 120px;
    height: 120px;
    top: 220px;
    left: 470px;
  }

  #curvedashed {
    width: 140px;
    border: 2px dashed black;
    transform: rotate(-35deg);
    top: 120px;
    left: 100px;
  }

  .littlecube {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    top: 295px;
    left: 205px;
  }

  .podzagolovok {
    font-size: 35px;
    padding-left: 150px;
  }

  .zagolovok {
    font-size: 125px;
    line-height: 85px;
  }

  .cost {
    font-size: 30px;
  }

  .info {
    padding-top: 1200px;
  }

  #cost {
    display: inline-block;
    min-width: 100px;
  }

  .description {
    top: 50%;
    right: 350px;
  }

}

@media (max-width: 375px) {

  main {
    max-width: 900px;
    width: 770px;
    height: 1250px;
    margin: 30% 5%;
  }

  .content {
    margin-top: 60px;
  }

  .header-wrap {
    margin-top: -50px;
  }

  .plakat {
    width: 800px;
    height: 900px;
  }

  div.plakat::after {
    top: 70px;
    left: -50px;
  }

  .planet {
    top: 290px;
    width: 340px;
    left: 280px;
  }

  .moon {
    top: 145px;
    width: 60px;
    left: 80px;
  }

  .krivaya {
    top: 550px;
    width: 120px;
    left: 200px;
  }

  .sputnuk {
    top: 200px;
    width: 100px;
    right: 50px;
  }

  .kletka {
    top: 270px;
    width: 190px;
    left: 70px;
  }

  .star1 {
    top: 126px;
    left: 400px;
    width: 85px;
    height: 59px;
  }

  .ministar {
    top: 700px;
    width: 100px;
  }

  .ministar2 {
    top: 120px;
    width: 80px;
    right: 100px;
  }

  .ministar3 {
    top: 530px;
    width: 90px;
    right: 50px;
  }

  .krugst {
    top: 880px;
    width: 140px;
    left: 130px;
    opacity: 50%;
  }

  .sferast {
    top: 937px;
    width: 40px;
    left: 180px;
  }

  .linesst {
    top: 820px;
    width: 180px;
    left: 200px;
  }

  .curve {
    top: 660px;
    width: 150px;
    left: 100px;
  }

  .cube {
    width: 55px;
    height: 55px;
    border: 2px solid black;
    bottom: 120px;
    right: 270px;
  }

  .cube2 {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    bottom: 260px;
    right: 370px;
  }

  #lineleft {
    width: 80px;
    border: 1px solid black;
    transform: rotate(30deg);
    top: 50px;
    left: 40px;
  }

  #lineright {
    width: 90px;
    border: 1px solid black;
    transform: rotate(-50deg);
    top: 50px;
  }

  #circle {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    top: 63px;
    left: 53px;
  }

  .star2 {
    width: 80px;
    height: 80px;
    top: 80px;
    left: 300px;
  }

  #aura3 {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border: 1px solid black;
    top: 0;
    left: -50px;
  }

  #aura2 {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid black;
    top: 15px;
    left: -34px;
  }

  #aura1 {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid black;
    top: 30px;
    left: -19px;
  }

  .krug1 {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    bottom: 10px;
    left: 620px;
  }

  .krug2 {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    border: 1px solid black;
    top: 20px;
    left: 610px;
  }

  .curvedashed-wrap {
    width: 120px;
    height: 120px;
    top: 220px;
    left: 470px;
  }

  #curvedashed {
    width: 140px;
    border: 2px dashed black;
    transform: rotate(-35deg);
    top: 150px;
    left: 40px;
  }

  .littlecube {
    width: 20px;
    height: 20px;
    top: 310px;
    left: 180px;
  }

  .podzagolovok {
    color: black;
    font-size: 35px;
    padding-left: 40px;
  }

  .zagolovok {
    font-size: 110px;
    line-height: 85px;
  }

  .cost {
    font-size: 50px;
  }

  .info {
    padding-top: 1200px;
    font-size: 35px;
  }

  #cost {
    display: inline-block;
    min-width: 100px;
  }

  .description {
    top: 59%;
    right: 300px;
  }

}
